<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProfile name="!demo">
        <appender name="EVENT_FILE" class="ch.qos.logback.core.FileAppender">
            <file>participant-event.log</file>
            <encoder>
                <pattern>%msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="demo">
        <appender name="EVENT_FILE" class="ch.qos.logback.core.FileAppender">
            <file>demo-participant-event.log</file>
            <encoder>
                <pattern>%msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.ikuven.bbut.tracking.participant.ParticipantEventLogger" additivity="false">
        <appender-ref ref="EVENT_FILE"/>
    </logger>

</configuration>
